blinker==1.6.3
click==8.1.7
dnspython==1.16.0  # Cambiado para compatibilidad con eventlet
Flask==2.1.1  # Usar una versión compatible con Flask-SocketIO
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
paho-mqtt==1.6.1
pymongo==4.6.0
python-dotenv==1.0.0
Werkzeug==2.1.2  # Usar una versión compatible con Flask
pytz==2021.1
Flask-Cors==4.0.1
gunicorn>=22.0.0
Flask-SocketIO==5.2.0
python-socketio==5.4.0
eventlet==0.31.0
